.example-box {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.section-example {
  color: $primery-text-color;
  background-color: $primery-bcg-color;
  padding-bottom: 94px;
}

.example {
  list-style: none;
}

.images__box {
  display: flex;
}

.example__item {
  flex-basis: calc(100% / 3);
  margin-right: $card-set-gap;

  &:last-child {
    margin-right: 0;
  }
}

.example__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.example__thumb {
  position: relative;
}

.example__content {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primery-bcg-color;
}
