ul {
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}
p {
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
label {
  display: block;
}

body {
  color: $primery-text-color;
  background-color: $primery-bcg-color;
  font-family: $roboto;
  letter-spacing: 0.03em;
}

.conteiner {
  margin-right: auto;
  margin-left: auto;

  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
