$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-footer-bcg-color: #2f303a;
$primery-bcg-color: #ffffff;
$employees-bcg-color: #f5f4fa;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$hero-button-hover-color: #188ce8;
$border-color-cards: #eeeeee;
$card-set-gap: 30px;
$primery-icon-color: rgba(175, 177, 184, 1);
$roboto: "Roboto", sans-serif;
$releway: "Raleway", sans-serif;
